/.vscode
/about.html
/acitivity3
/act10.html
/act11.html
/act2.html
/act3.html
/act4.html
/ACT6.html
/act7.html
/act8.css
/act8.html
/activity4.css
/contact.html
/form3.pdf
/index.html
/myprofile.jpg
/myself.jpg
/services.html
/style.css
/style10.css
/styles9.css